*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}
.container{
    height: 100vw;
    height: 100vh;
    background-image:  url(./photos/img4.png);
    background-position: center;
    background-size: cover;
    padding: 0 8%;
    position: relative;

}
.content{
    top: 55%;
    position: absolute;
    transform: translateY(-50%);
    color: #f74848;
}
.content h1 {
    font-size: 62px;
    font-weight: 600;
}
.content h1 span{
    color: #f74848;
    
}
.content h1 span.soon{
    color: f74848;
    padding-left: 10px;
}
.content button {
    background: transparent;
    border: 2px solid  #f74848;
    outline: none;
    padding: 12px 25px;
    color: #f74848;
    display: flex;
    align-items: center;
    margin-top: 30px;
    cursor: pointer;
}

.content button:hover{
    border: 2px solid #fff;
    transition: 0.3s;
}
.content button img{

    width: 30px;
    margin-left: 10px;
}
.launching-time{
    display: flex;
}
.launching-time div {
    flex-basis: 100px;
}

.launching-time div p {
    font-size: 60px;
    margin-bottom: -14px;
    padding-right: 20px;
}

button{
    font-size: 20px;
}

.rocket{
    width: 200px;
    position: absolute;
    right: 10%;
    bottom: 0;
    animation: rocket 4s linear infinite;
}

@keyframes rocket{
    0%{
        bottom: 0;
        opacity: 0;

    }

    100%{
        bottom: 105%;
        opacity: 1;
        
    }
}