* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #cae8c9;
}
 

.watch {

  height: 180px;
  width: 180px;
  background-color: #f5f5f5;
  position: relative;  
  border-radius: 50%;
  border: 5px solid rgb(121, 182, 121);
}

.hand {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  background-color: #000000;
  border-radius: 0.31em;
  transform-origin: bottom;
}

.hour {
  height: 50px;
  width: 5.5px;
  top: 50px;
}
.minute {
  height: 68px;
  width: 4px;
  top: 30px;

}
.seconds {
  height: 80px;
  width: 2px;
  top: 20px;
  background-color: #456ba8;
}

.hours{
  font-size: 20px;
  font-weight: bold;
  color: hsl(185, 100%, 10%);
  position: relative;

}


.container2{
  margin: 15px 10px;
  width: 150px;
  height: 100px;
  border-radius: 10px;
  border: 2px solid rgb(121, 182, 121);
}

.box{
  margin: 15px 10px;
  font-size: 1.5rem;
  align-items: center;
  justify-content: center;
  display: flex;
}

.btns{
  margin: 15px 10px;
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 15%;

}

button{
  padding: 2px 10px;

}


.watch-timer{
  display: flex;
  align-items: center;
  margin-top: 400px;
  justify-content: center;
  gap: 50px;

}